body {
    display: flex;
    justify-content: center;
    line-height: 29px;
    margin-left: 0px;
}

#header {
    text-align: center;
}

#navbar ul {
    padding-left: 0px;
}
#navbar {
    border-right: 1px solid;
}

header {
    font-size: 30px;
    font-weight: bold; 
}
section p {
    padding-left: 15px
}

.nav-links {
    list-style: none;
    padding: 10px 10px 10px 25px;
    border-top: 1px solid;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: #70757a;
}

img {
    margin-left: 0px;
}

#introduction header{
    font-size: 30px;
}

#main-doc {
    padding-left: 20px;
}

code {
    display: flex;
    padding: 25px 0px 25px 0px;
    text-align: center;
    background-color: #DCDCDC;
}

ul {
    padding-left: 60px;
}